<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
  <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddVenueServlet</servlet-name>
        <servlet-class>AddVenueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVenueServlet</servlet-name>
        <url-pattern>/addvenue</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddRefreeServlet</servlet-name>
        <servlet-class>AddRefreeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRefreeServlet</servlet-name>
        <url-pattern>/addrefree</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddTournament</servlet-name>
        <servlet-class>AddTournament</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTournament</servlet-name>
        <url-pattern>/newtournament</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddMatch</servlet-name>
        <servlet-class>AddMatch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMatch</servlet-name>
        <url-pattern>/addmatch</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddRefereeToTour</servlet-name>
        <servlet-class>AddRefereeToTour</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRefereeToTour</servlet-name>
        <url-pattern>/addrefreetotour</url-pattern>
    </servlet-mapping>
</web-app>